<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="main">
    THE MCQ'S
  </div>

  <div class="row">
    <div class="col-md-4 " id ="gk" >General Knwoledge</div>
    <div class="col-md-4" id="iq">IQ</div>
    <div class="col-md-4" id="islq">Islamic Questions </div>
  </div>


  <div class="row">
    <div routerLink="/quiz" class="col-md-4" id="iph" >Indo-Pak History</div>
    <div class="col-md-4"  id="e">English</div>
    <div class="col-md-4" id="pt">Programming and Tech</div>
  </div>

  <div class="row">
    <div class="col-md-4" id="m"  >Maths</div>
    <div class="col-md-4" id="if" >International Affairs</div>
    <div class="col-md-4" id="pa" >Pakistan Affairs </div>
  </div>
  <a (click)="hello();"><button class="btn btn-success" > Go to Quiz </button></a>

</div>
