<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="main">

      THE MCQ'S

  </div>

  <div class="row">
    <div class="col-md-4" style="background-color: aqua;">General Knwoledge</div>
    <div class="col-md-4" style="background-color: aquamarine;">IQ</div>
    <div class="col-md-4" style="background-color: lemonchiffon;">Islamic Questions </div>

  </div>


  <div class="row">
    <div class="col-md-4">Indo-Pak History</div>
    <div class="col-md-4">English</div>
    <div class="col-md-4">Programming and Tech</div>

  </div>
</div>
